@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  display: flex;
  margin: 100px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #23272f;
  color: white;
}

.tile{
  height: 100px;
  width: 100px;
  border: 1px solid yellowgreen;
  color: greenyellow;
  font-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board{
  height: 300px;
  width: 300px;
  position: relative;
}

.board-row{
  display: flex;
}

.btn-div{
  margin-top: 10px;
  width: auto;
  display: flex;
  justify-content: center;
}
.btn{
  height: 75px;
  width: 150px;
  font-size: 25px;
  background-color: greenyellow;
  color: #23272f;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

h1{
  font-size: 30px;
  text-align: center;
}

.result{
  margin-top: 10px;
  height: 100px;
  width: 300px;
  color: yellowgreen;
}
